# Whisper Model Configuration
# WHISPER_MODEL=small
# WHISPER_SERVER_USE=false
# WHISPER_SERVER=http://localhost:8007

# Hardware Selection (optional, defaults to cuda if available, else cpu)
# WHISPER_DEVICE=cpu

# Transcription Server Configuration
# TRANSCRIBE_SERVER_URL=http://localhost:5040/transcribe
