# Django backend
django
django-cors-headers
djangorestframework
drf_yasg

# Documentation
mkdocs
mkdocs-bootswatch

# Audio & AI
openai-whisper
pyaudio
numpy
scipy
torch

# Flask server
flask
flask-restx
flask-cors

# Utilities
pybars3
requests
python-dotenv
flask
flask-restx
flask-cors
numpy
torch
scipy
